<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Products</title>
</head>
<body>
<h1>getting listing page</h1>
<form action="#" th:action="@{/products/addProduct}" th:object="${product}" method="POST">
Product name: <input type="text" name="name" id="name" />
Description: <input type="text" name="description" />
<input type="submit" value="Add Product" /> 
</form>
<hr />
<table>
		<thead>
			<tr>
				<th>EDIT ITEM</th>
				<th>REMOVE ITEM</th>
				<th>NAME</th>
				<th>DESCRIPTION</th>
			</tr>
		</thead>
		<tbody th:each="product : ${products}">
			<tr>
				<th><a th:href="@{'/products/editProduct/' + ${product.id}}">Edit</a></th>
				<th><a th:href="@{'/products/removeProduct/' + ${product.id}}"><img src="../static/images/trash_black.png" th:src="@{/images/trash_black.png}"/></a></th>
				<th th:text="${product.name}"></th>
				<th th:text="${product.description}"></th>
			</tr>
		</tbody>
	</table>
</body>
</html>